$Comfortaa :  'Comfortaa', cursive;
$Montserrat :  'Montserrat', sans-serif;
$Roboto :  'Roboto', sans-serif;
.main_block{
    width: 100%;
    height:1056px;
    background: url(BG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    header{
        width: 1220px;
        height: 52px;
        margin:65px auto ;
        display: flex;
        justify-content: space-between;
        &_logoNav_nav{
            display: flex;
            align-items: center;
            &_logo{
                font-family: $Comfortaa;
                font-weight: 700;
                font-size: 36px;
                line-height: 40px;

                color: #FFFFFF;
            }
        }
    }
}